@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


/* ANIMATION EFFECT ON LOAD */

body {
    animation: 1s ease-out 0s 1 FadeIn;
    height: 100%;
  }
  
  @keyframes FadeIn {
      0% {
        opacity:0;
      }
      100% {
        opacity:1;
      }
  }
  
:root {
    --white: white;
}

h1 {
    font-size: 2rem;
}

p {
    font-weight: lighter;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0 0;
    padding: 0 1%;
    color: black;
    font-family: brandon-grotesque, 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 11px;
    letter-spacing: .1em;
    background-color: var(--white);
}

@font-face {
    font-family: "brandon-grotesque";
    src: url("../fonts/font3.otf") format("opentype");
}

a, a:visited, a:hover {
    color: black;
    text-decoration: none;
}

/* header */

#header {
    background-color: var(--white);
    height: 80px;
    margin-right: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

#header-logo {
    padding: 5px 20px;
}

#header-links-container {
    padding: 30px 20px;
}

#about-link, #portfolio-link, #contact-me-link {
    font-weight: lighter;
}

#contact-me-link {
    padding: 10px 15px !important;
    border: 1px solid black;
    margin: 0 auto;
    padding: 15px 10px;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#contact-me-link:hover {
    background-color: black;
    color: white;
}

main {
    padding: 0 0;
    margin: 0 0;
}

a.current-page {
    text-decoration: underline;
}

/* INDEX PAGE */

.hidden {
    position: absolute;
    display: none;
}

.visible {
    opacity: 1;
    display: block;
    position: absolute;
}

#bottom-mark {
    position: absolute;
    bottom: 0;
}

.content-wrapper {
    display: flex;
    position: absolute;
    justify-content: center;
    height: 27rem;
    width: 27rem;
    top: 70px;
    bottom: 0;
}

.content-wrapper.visible-content {
    display: flex; 
    position: absolute;
    justify-content: center;
    height: 27rem;
    width: 27rem;
    top: 70px;
    bottom: 0;
}

#image3 {
    right: 20px;
    bottom: 0;
    opacity: 1; 
    transform: translateX(-29px) translateY(-19px) rotate(-4deg) scale(0.9);
}

#image1 {
    opacity: 1; 
    transform: translateX(0px) translateY(0px) rotate(0deg) scale(1);
}

#image2 {
    right: 20px;
    opacity: 1; 
    transform: translateX(12px) translateY(-20px) rotate(10deg) scale(0.9);
}

#image4 {
    right: 20px;
    opacity: 1;
    transform: translateX(-1px) translateY(-9px) rotate(11deg) scale(0.9);
}

#image5 {
    right: 20px;
    opacity: 1;
    transform: translateX(0px) translateY(0px) rotate(0deg) scale(1);
}

.imageScroll {
    transition: transform 1s ease-in-out;
    position: absolute;
    top: 30px; 
}

.center-me {
    position: relative;
    width: 100%;
    height: 100%; 
}

.bottom-mark {
    position: absolute;
    top: 44rem;
}

#scroll-word {
    position: fixed;
    pointer-events: none; 
    font-size: 16px;
    font-weight: bold;
    color: #333;
    user-select: none; 
    white-space: nowrap;
}

/* landing page section one */

section {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3rem !important;
}

.search-bar {
    height: 1.5rem !important;
}

#p {
    border-right: solid 3px black;
    white-space: nowrap;
    overflow: hidden;    
  }
  
  /* Animation */
  #p {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
  }
  
  /* text animation */
  @keyframes animated-text{
    from{width: 0;}
    to{width: 18rem;}
  }
  
  /* cursor animations */
  @keyframes animated-cursor{
    from{border-right-color: black;}
    to{border-right-color: transparent;}
  }

.svg-main-image-container {
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
}

.svg-main-image-container img {
    height: auto;
    width: 100%;
}

#image-section {
    height: 85vh;
    border: 1px solid black;
    border-radius: 30px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

#image-div {
    margin: 20% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#image-div input {
    width: 270px;
    height: 10%;
    margin: 0 auto;
    border: 1px black solid;
    padding: 2px 10px;
}

#image-div input:focus {
    outline: none;
}

.icon {
    background-color: var(--white);
    padding-left: 25px;
    background: url("../icons/search.png") no-repeat right;
    background-size: 20px;
  }

/* landing page section two */

#about-section {
    background-color: var(--white);
    padding: 0 2%;
    margin-top: 7rem;
    padding-bottom: 3rem;
    width: fit-content;
}

.about-header-div {
    justify-content: center;
    width: 32rem;
    align-items: center;
    padding: 0 1rem;
}

.about-header-div h1 {
    margin: 0 0;
    text-align: center;
    padding-bottom: 2rem;
    font-weight: lighter;
    font-size: 1.3rem;
    min-width: 20rem;
}

.about-header-div a {
    border: 1px solid black;
    padding: 1rem 2rem;
    margin: 0 auto;
    text-align: center;
    font-weight: lighter;
}

.about-header-div a:hover {
    background-color: black;
    color: white;
}

.about-image-container {
    gap: 1.2rem;
    flex-wrap: wrap;
}

.about-single-image img {
    width: 15rem;
    border-radius: 5px;
}

.about-image-description {
    text-align: right;
    padding-top: .3rem;
    font-weight: lighter;
}

#about-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 2rem;
}

.image-description {
    background-color: var(--grey);
    width: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: sticky;
    top: 3rem;
    overflow: visible;
    border: 1px black solid;
    border-radius: 12px;
    padding: 1rem 1rem;
}

.image-description div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.image-description img {
    width: 3rem;
    height: 3rem;   
}

.image-description h3 {
    text-align: left;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0 0;
}

.image-description p {
    margin: 0 0;
    text-align: left;
    width: 20vw;
}

/* landing page section three */

.services-section {
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    gap: 20%;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-weight: lighter;
    height: 100vh;
    height: fit-content;
}

.services-list-container {
    margin-top: 10rem;
}

.services-description-container {
    width: 30rem;
}

.description-item-container {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
}

.hidden-description {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    text-align: left;
}

.services-images-container {
    position: relative;
}

.services-image-bottom {
    width: 25rem;
    border-radius: 10px;
    margin-top: 7rem;
}

.services-image-top {
    width: 18rem;
    border-radius: 10px;
    position: absolute;
    top: 2rem;
    left: -10rem;
    z-index: 1; 
}

.arrow {
    border-color: black;
    border-style: solid;
    border-top: none;
    border-left: none;
    box-sizing: border-box;
    transform: translatey(-25%) rotate(45deg);
    width: 1rem;
    height: 1rem;
}

.description-item {
    justify-content: space-between;
}

/* landing page section four */

#clients-section {
    background-color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

#clients-logo-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 2rem;
    margin: 2rem 0;
    align-items: center;
}

.client-logo {
    width: 6rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.divider {
    height: 1px;
    max-width: 100%;
    background-color: black;
    color: #555353;
}

.divider-carousel {
    background-color: transparent;
}

.carousel-container {
    overflow: hidden;
    width: 100%;
}

.carousel {
    display: flex;
    animation: scroll infinite 15s linear;
}

.carousel-item {
    flex: 0 0 100%;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #ddd;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* LANDING PAGE TESTIMONIALS PART */

.testimonials {
    padding-top: 3rem;
    padding-bottom: 2rem;
    width: fit-content;
    height: auto;
    margin: 0 auto;
    font-size: 2rem;
}

.slider-container {
    border: 1px solid black;
    height: auto;
    width: 700px;
    margin: 0 auto;
    padding: 2rem 4rem;
    overflow: hidden;
    text-align: center;
}

.testimonial-slide {
    display: none;
    height: 200px;
}

.author {
    font-style: italic;
    margin-top: 10px;
    font-size: 1rem;
}

.slider-dots {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd;
    margin: 0 8px;
    cursor: pointer;
}

.dot.active {
    background-color: #555;
}

.arrow-btn-slide {
    font-size: 30px;
    background: none;
    border: none;
    color: #555;
    cursor: pointer;
}

.dots-arrows-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .6rem;
    align-content: center;
}


/* About.html separate page */

.about-body {
    height: 100%;
}

#about-me-separate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap-reverse;
    height: 80vh;
    padding: 5rem 2rem 0 2rem;
    gap: 2rem;
}

#about-me-text-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    width: 60%;
    height: 100%;
    padding-top: 100px;
}

#about-me-text-div h1, #about-me-text-div p {
    margin: 0;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
} 

#about-me-text-div h1 {
    font-size: 3rem;
    font-weight: lighter;
    padding-top: 3rem;
}

#about-me-text-div p {
    font-size: 1.1rem;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    padding-bottom: 1rem;
}

#about-me-text-div a {
    font-weight: lighter;
    font-size: .8rem;
}

#about-me-img-div, #about-me-text-div {
    height: 100%;
}

#main-photo {
    width: 23rem;
    height: 30rem;
}

/* portfolio.html separate page */

#portfolio-section-separate {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#portfolio-section-separate section {
    margin-bottom: 0 !important;
}

.portfolio-image {
    height: auto;
    width: 35rem;
}

.portfolio-general-info {
    height: 35rem;
    width: 35rem;
    margin: 0 0 !important;
    font-size: 1rem;
}

.portfolio-general-info p {
    line-height: 1.4rem;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.row div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin-left: 2rem;
    margin-right: .5rem;
}

.row div > p {
    text-align: center;
}

.row div h2, .row div p {
    margin: 0 0;
}

/* contact form separate html page */

#contact-form {
    font-family: Roboto;
    background-color: var(--grey);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    margin-top: 0rem;
    margin-bottom: 1rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#contact-form p {
    font-size: 1rem;
    font-weight: lighter;
    padding-bottom: 1rem;
}

#contact-form h2 {
    font-size: 2rem;
}

label {
    font-weight: normal;
}

#name-for-contact-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

#contacts-for-contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;    
    width: 100%;
    height: 100%;
}

form {
    font-size: 1rem;
    width: 50rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}

#name-for-contact-form div {
    padding-bottom: 1rem !important;
}

#fname, #lname {
    height: 2rem;
    width: 24rem;
    margin-top: 1rem;
    border: 1px solid black;
    font-size: 1rem;
    background-color: var(--grey);
}

#email, #tel {
    height: 2rem;
    width: 100%;
    margin-top: 1rem;
    border: 1px solid black;
    font-size: 1rem;
    background-color: var(--grey);
}

#message {
    height: 6rem;
    width: 100%;
    margin-top: 1rem;
    border: 1px solid black;
    font-size: 1rem;
    background-color: var(--grey);
}

#lets-connect-btn {
    padding: 10px 15px !important;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1rem auto;
    cursor: pointer;
    padding: 15px 10px;
    letter-spacing: 2px;
    text-align: center;
    background-color: var(--grey);
    transition: background-color 0.3s ease;
    color: black;
}

#lets-connect-btn:hover {
    background-color: black;
    color: white;
}

#contacts-for-contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#name-for-contact-form div {
    padding-bottom: 2rem;
}

input {
    padding: 0 .3rem;
}

textarea {
    padding: .4rem .5rem;
}

.placeholder::-webkit-input-placeholder {
    font-weight: 300;
    font-size: .9rem;
}

.span {
    font-size: .8rem;
}

/* footer */

#footer {
    background-color: var(--grey);
    width: 100%;
    bottom: 0;
    height: auto;
    padding: 15px 30px 0px 30px;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: brandon-grotesque;
    padding-bottom: 1rem;
    font-weight: lighter;
    border-top: 1px solid black;
    width: fit-content;
}

#socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

#socials a {
    border: 1px solid transparent;
    padding: .1rem .3rem;
}

#socials a:hover {
    border: 1px solid black;
}

#footer #contact-me-link {
    border: 1px solid black;
    margin: 0 auto;
    padding: 10px 5px;
    letter-spacing: 1px;
    text-align: center;
    font-size: 10px;
}

.extra-padding {
    margin: .5rem 0; 
}

.dev-link {
    font-size: 12px;
    padding-top: 20px;
}

footer div:nth-of-type(3) a {
    text-decoration: underline;
}

footer div:nth-of-type(3) a:hover {
    text-decoration: line-through;
}

/* RESPONSIVE STYLES */

@media only screen and (max-width : 767px) {

    /* MOBILE HEADER */

    .svg-main-image-container, #scroll-word {
        display: none;
    }

    #header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }

    .menu-icon {
        width: 48px;
        height: 48px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
        display: flex;
        margin-right: 1rem;
    }

    .ham {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .hamRotate.active {
        transform: rotate(45deg);
    }
    
    .hamRotate180.active {
        transform: rotate(180deg);
    }
    
    .line {
        fill:none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke:#000;
        stroke-width:5.5;
        stroke-linecap:round;
    }

    .ham3 .top {
        stroke-dasharray: 40 130;
    }

    .ham3 .middle {
        stroke-dasharray: 40 140;
    }
    
    .ham3 .bottom {
        stroke-dasharray: 40 205;
    }
    
    .ham3.active .top {
        stroke-dasharray: 75 130;
        stroke-dashoffset: -63px;
    }

    .ham3.active .middle {
        stroke-dashoffset: -102px;
    }

    .ham3.active .bottom {
        stroke-dasharray: 110 205;
        stroke-dashoffset: -86px;
    }

    .hidden-nav {
        margin-top: 5rem;
    }

    .hidden-nav a {
        margin: 0 auto;
        text-decoration: none;
        color: black;
        padding: 1rem 0;
        text-align: center;
        font-size: 2rem;
        font-weight: lighter;
    }

    .hidden-nav a:hover {
        text-decoration: underline;
        color: black;
    } 

    #header-links-container {
        display: none;
    }

    .mobile-design .menu-icon {
        display: block;
    }

    .hideMenu {
        display: block;
    }

    .content-wrapper {
        height: 23rem;
        width: 23rem;
        margin: 0 auto;
        right: 30px;
    }

    /* previuos design */

    #about-section {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 0;
    }

    .about-image-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .about-single-image img {
        width: 20rem;
        display: flex;
        margin: 0 auto;
    }

    .about-image-description {
        text-align: center;
    }

    .about-header-div h1 {
        font-size: 1rem;
    }
    
    .services-image-top {
        left: -4rem; 
    }

    .services-list-container {
        margin-top: 2rem;
    }

    .slider-container {
        width: 400px;
    }

    .testimonial-slide {
        height: 250px;
    }

    /* ABOUT PAGE */

    #about-me-separate {
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem 0 3rem 0;
        width: 100vw;
        height: fit-content;
    }

    #about-me-img-div {
        height: fit-content;
    }

    #about-me-text-div {
        padding: 0;
        margin: 0;
    }

    #about-me-text-div h1 {
        padding: 0;
        font-size: 2.5rem;
    }

    #about-me-text-div p {
        font-size: 1rem;
    }

    /* PORTFOLIO PAGE */



    #portfolio-section-separate {
        width: 100%;
    }

    .portfolio-image {
        height: auto;
        width: 15rem;
    }
    
    .portfolio-general-info {
        height: 15rem;
        width: 15rem;
    }

    .portfolio-general-info h2 {
        font-size: 1.2rem;
    }

    .portfolio-general-info p {
        font-size: .9rem;
    }

    .wooga {
        padding-top: 1rem;
    }

    /* CONTACT PAGE */

    #contact-form {
        height: calc(100vh - 80px);
        padding-top: 3rem;
    }

    form {
        width: 24rem;
    }

    #name-for-contact-form {
        gap: 0;
    }

    #contact-form h2 {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    #contact-form p {
        font-size: 1.1rem;
        margin: 0 auto;
        padding: 1rem 4rem 3rem 4rem;
        text-align: center;
        width: 60%;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /* index page */
    #dropdown-menu, #nav-btn {
        display: none;
    }

    .content-wrapper {
        right: 40px;
        width: 25rem;
        height: auto;
    }

    /* about page */

    #about-me-separate {
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem 0 3rem 0;
        width: 100vw;
        height: fit-content;
    }

    #about-me-img-div {
        height: fit-content;
    }

    #about-me-text-div {
        padding: 0;
        margin: 0;
    }

    #about-me-text-div h1 {
        padding: 1rem 0 0 0;
        font-size: 3rem;
    }

    #about-me-text-div p {
        font-size: 1rem;
    }

    /* portfolio page */

    #portfolio-section-separate {
        width: 100%;
        display: flex;
        align-self: center;
    }

    .row {
        display: flex;
        justify-content: center;
    }

    .portfolio-image {
        height: auto;
        width: 25rem;
    }
    
    .portfolio-general-info {
        height: 25rem;
        width: 25rem;
    }
}

@media only screen and (min-width: 1024px) {

    #dropdown-menu, #nav-btn {
        display: none;
    }

    /* about page */

    #about-me-separate {
        min-width: 40%;
    }

    .portfolio-image {
        height: auto;
        width: 35rem;
    }
    
    .portfolio-general-info {
        height: 35rem;
        width: 35rem;
    }

    #portfolio-section-separate {
        flex-wrap: nowrap;
    }

}